@model EClinic.Web.InputModels.SetingsInputModel
@{
    ViewData["Title"] = "Setings";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i></i> Site setings</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li><i class="icon_document_alt"></i>Site</li>
                    <li><i class="fa fa-file-text-o"></i>Site setings</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Site setings
                    </header>

                    <div class="panel-body">

                        @foreach (var seting in (List<EClinic.Web.ViewModels.Site.SetingViewModel>)ViewData["SetingsList"])
                        {
                            <form class="form-horizontal" asp-area="Administration" asp-controller="Site" asp-action="EditSeting" method="post" >
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">@seting.Name</label>
                                        <input type="hidden" class="form-control" asp-for="Id" value="@seting.Id">
                                        <span asp-validation-for="@Model.Id" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" asp-for="Value" value="@seting.Value">
                                        <span asp-validation-for="@Model.Value" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </form>
                        }

                    </div>
                </section>

            </div>
        </div>
        <!-- page end-->
    </section>
</section>

<partial name="Partials/_ValidationScriptsPartial" />

<!--main content end-->