@model ICollection<EClinic.Web.ViewModels.Appointments.AppointmentGetAllForDayViewModel>
@{
    var minuts = 0;
}

    <section class="page-nav no-margin row">
        
    </section>

    <section class="with-medical">
        <div class="container">
            <table style="padding-top:10%" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Hour</th>
                        <th scope="col">Make Appointment</th>

                    </tr>
                </thead>
                <tbody>

                    @for (int hour = 7; hour <= 19; hour++)
                    {
                        @for (int i = 1; i <= 2; i++)
                        {

                            if (minuts == 0)
                            {
                                <tr>
                                    <th scope="row">@hour:@($"{minuts:d2}")</th>
                                    @if (Model.Any(x => $"{x.AppointmentDateTime.Hour}:{x.AppointmentDateTime.Minute:d2}" == $"{hour}:{minuts:d2}"))
                                    {
                                        <td>Taken</td>
                                    }
                                    else
                                    {
                                        <td><a class="btn btn-sm btn-info text-white" asp-controller="Appointment" asp-action="CreateAppointment" asp-route-userName="@this.User.Identity.Name" asp-route-doctor="@ViewData["Doctor"]" asp-route-date="@DateTime.Parse($"{ViewData["Month"]}/{ViewData["Day"]}/{DateTime.Now.Year} {hour}:{minuts}")">reg</a></td>
                                    }
                                    
                                    @{minuts = 30;}
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@hour:@($"{minuts:d2}")</th>
                                    @if (Model.Any(x => $"{x.AppointmentDateTime.Hour}:{x.AppointmentDateTime.Minute:d2}" == $"{hour}:{minuts:d2}"))
                                    {
                                        <td>Taken</td>
                                    }
                                    else
                                    {
                                        <td><a class="btn btn-sm btn-info text-white" asp-controller="Appointment" asp-action="CreateAppointment" asp-route-userName="@this.User.Identity.Name" asp-route-doctor="@ViewData["Doctor"]" asp-route-date="@DateTime.Parse($"{ViewData["Month"]}/{ViewData["Day"]}/{DateTime.Now.Year} {hour}:{minuts}")">reg</a></td>
                                    }
                                    
                                    @{minuts = 30;}
                                    @{minuts = 0;
                                    }
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>
        </div>
    </section>