<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>eClinic | Administration | @ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link href="~/css/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/css/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/css/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/css/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/css/owl.carousel.css" type="text/css">
    <link href="~/css/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/css/fullcalendar.css">
    <link href="~/css/css/widgets.css" rel="stylesheet">
    <link href="~/css/css/style.css" rel="stylesheet">
    <link href="~/css/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/css/xcharts.min.css" rel=" stylesheet">
    <link href="~/css/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            @if (this.User.IsInRole("Administrator"))
            {
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="logo">Nice <span class="lite">Admin</span></a>
            }
            else if (this.User.IsInRole("Doctor"))
            {
                <a asp-area="Doctor" asp-controller="DoctorDashboard" asp-action="Index" class="logo">Nice <span class="lite">Admin</span></a>
            }
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form" asp-area="Doctor" asp-controller="Users" asp-action="SerchUser" method="get">
                            <input class="form-control" name="username" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">



                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="~/img/avatar1_small.jpg">
                            </span>
                            <span class="username">@this.User.Identity.Name</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li>
                                <a asp-area="Doctor" asp-controller="Users" asp-action="GetUserInfo" asp-route-email="@this.User.Identity.Name"><i class="icon_key_alt"></i> Profil</a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Logout"><i class="icon_key_alt"></i> Log Out</a>
                            </li>

                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li class="active">
                            <a class="" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" asp-fragment="">
                                <i class="icon_house_alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_document_alt"></i>
                                <span>Site</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" asp-area="Administration" asp-controller="Site" asp-action="Setings">Site Setings</a></li>
                                <li><a class="" asp-area="Administration" asp-controller="Site" asp-action="IndexPageSlidesAll">Slides</a></li>
                                <li><a class="" asp-area="Administration" asp-controller="Site" asp-action="GetAllPages">Pages</a></li>

                            </ul>
                        </li>
                    }
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_desktop"></i>
                            <span>Users</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" asp-area="Doctor" asp-controller="Users" asp-action="GetAllUsers">Get All Users</a></li>

                        </ul>
                    </li>
                    

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        @this.RenderBody()

        <footer class="footer">
            <div class="container pull-right">
                &copy; eClinic 2019

            </div>


        </footer>

        <!-- javascripts -->
        <script src="~/js/jquery.js"></script>
        <script src="~/js/jquery-ui-1.10.4.min.js"></script>
        <script src="~/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="~/js/jquery-ui-1.9.2.custom.min.js"></script>
        <!-- bootstrap -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- nice scroll -->
        <script src="~/js/jquery.scrollTo.min.js"></script>
        <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
        <!-- charts scripts -->
        <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>
        <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
        <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="~/js/owl.carousel.js"></script>
        <!-- jQuery full calendar -->

        <script src="~/js/fullcalendar.min.js"></script>
        <!-- Full Google Calendar - Calendar -->
        <script src="~/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
        <!--script for this page only-->
        <script src="~/js/calendar-custom.js"></script>
        <script src="~/js/jquery.rateit.min.js"></script>
        <!-- custom select -->
        <script src="~/js/jquery.customSelect.min.js"></script>
        <script src="~/assets/chart-master/Chart.js"></script>

        <!--custome script for all page-->
        <script src="~/js/scripts.js"></script>
        <!-- custom script for this page-->
        <script src="~/js/sparkline-chart.js"></script>
        <script src="~/js/easy-pie-chart.js"></script>
        <script src="~/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/js/xcharts.min.js"></script>
        <script src="~/js/jquery.autosize.min.js"></script>
        <script src="~/js/jquery.placeholder.min.js"></script>
        <script src="~/js/gdp-data.js"></script>
        <script src="~/js/morris.min.js"></script>
        <script src="~/js/sparklines.js"></script>
        <script src="~/js/charts.js"></script>
        <script src="~/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="~/assets/ckeditor/ckeditor.js"></script>

        <script>
            //knob
            $(function () {
                $(".knob").knob({
                    'draw': function () {
                        $(this.i).val(this.cv + '%')
                    }
                })
            });

            //carousel
            $(document).ready(function () {
                $("#owl-slider").owlCarousel({
                    navigation: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true

                });
            });

            //custom select box

            $(function () {
                $('select.styled').customSelect();
            });

            /* ---------- Map ---------- */
            $(function () {
                $('#map').vectorMap({
                    map: 'world_mill_en',
                    series: {
                        regions: [{
                            values: gdpData,
                            scale: ['#000', '#000'],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    backgroundColor: '#eef3f7',
                    onLabelShow: function (e, el, code) {
                        el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                    }
                });
            });
        </script>

        @this.RenderSection("Scripts", required: false)




</body>
</html>
