@model EClinic.Web.InputModels.Patient.EditPatientInputModel
@{
    ViewData["Title"] = "Edit User";
    SelectList listItems = (SelectList)ViewData["Roles"];
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-file-text-o"></i> All Patients</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a asp-area="Doctor" asp-controller="DoctorDashboard" asp-action="Index">Home</a></li>
                    <li><i class="fa fa-file-text-o"></i><a asp-area="Doctor" asp-controller="Users" asp-action="GetAllUsers">Users</a></li>
                    <li><i class="fa fa-file-text-o"></i>Edit User</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h3 style="padding-top:1%; padding-bottom:3%;">Edit User: <strong>@Model.FirstName @Model.LastName</strong></h3>
                    </header>
                    <header class="panel-heading tab-bg-info">
                        <ul class="nav nav-tabs">
                            <li>
                                <a data-toggle="tab" href="#edit-profile">
                                    <i class="icon-user"></i>
                                    Edit User
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#edit-exam">
                                    <i class="icon-user"></i>
                                    Edit Exam
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <!-- edit-profile -->
                            <div id="edit-profile" class="tab-pane active">
                                <section class="panel">
                                    <div class="panel-body bio-graph-info">
                                        <h1> Profile Info</h1>
                                        <form enctype="multipart/form-data" class="form-horizontal" asp-area="Patient" asp-controller="Patient" asp-action="EditUser" method="post" role="form">
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.FirstName)</label>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.MiddleName)</label>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(x => x.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.LastName)</label>
                                                <div class="col-lg-10">
                                                    @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.Age)</label>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(x => x.Age, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.Address)</label>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.Email)</label>
                                                <div class="col-lg-6">
                                                    <input type="hidden" asp-for="@Model.Email" />
                                                    @Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(@Model.Email))
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label">@Html.DisplayNameFor(x => x.Image)</label>
                                                <div class="col-lg-6">
                                                    <input type="file" asp-for="@Model.Image" />
                                                    @*@Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(@Model.Image.FileName))*@
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                    <a asp-area="Patient" asp-controller="Patient" asp-action="Index" class="btn btn-danger">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                            <!--End Profile-->
                            <!-- Start Exams -->
                            <div id="edit-exam" class="tab-pane">
                                <div class="profile-activity">

                                    @if (Model.Exams.Count() != 0)
                                    {
                                        @foreach (var exam in Model.Exams)
                                        {
                                            <div class="act-time">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="activity-body act-in">
                                                            <span class="arrow"></span>
                                                            <div class="text">

                                                                <p class="attribution"><strong>@exam.Date.ToString("dd-MMMM-yyyy")</strong></p>
                                                                @Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(@exam.Condition))
                                                                <p>@Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(@exam.Diagnose))</p>
                                                                <p>@Html.Raw(Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(@exam.Prescription))</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="act-time">

                                            <div class="activity-body act-in">
                                                <span class="arrow"></span>
                                                <div class="text">
                                                    <strong>No Exams</strong>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                </div>
                                <!-- Edit Exams-->
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <partial name="Partials/_ValidationScriptsPartial" />
        <!-- page end-->
    </section>
</section>
<!--main content end-->
